@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@import 'tailwindcss/base';

/* Custom styles for the country select element */
body {
    background-color: rgb(22, 22, 22);
}
.my-custom-country-select {
    padding: 0.75rem 1rem;
    border: 2px solid #6b7280;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
    color: #111827;
    font-size: 1rem;
    transition: border-color 0.2s ease;
}

.my-custom-country-select:focus {
    border-color: #3b82f6;
}

.my-custom-input {
    padding: 0.75rem 1rem;
    border: 2px solid #6b7280;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
    color: #111827;
    font-size: 1rem;
    transition: border-color 0.2s ease;
}

.my-custom-input:focus {
    border-color: #3b82f6;
}

.PhoneInputCountrySelect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: 0;
    opacity: 0;
    cursor: pointer;
    color: darkslategrey;
}

.PhoneInputInput {
    flex: 1;
    min-width: 0;
    color: darkblue;
}
